body {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 160px;
}

.header img {
    width: 58px;
    padding: 16px;
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    font-size: 24px;
    padding: 16px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.body1 {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 80px 160px 40px;
}

.image {
    padding-left: 20px;
}

.image img {
    width: 250px;
    height: 200px;
    border-radius: 50%;
}

h1 {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

p {
    font-size: 20px;
}

button {
    outline: none;
    background-color: #3882F6;
    border: none;
    border-radius: 16px;
    padding: 8px 16px;
    margin: 12px 0;
    font-size: 20px;
}

.body2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.box-header {
    font-size: 40px;
    font-weight: bold;
}

.container {
    display: flex;
    padding: 0 160px;
}

.box-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box {
    border: 6px solid #3882F6;
    width: 200px;
    height: 200px;
    margin: 30px 16px 16px;
    border-radius: 20px;
}

.text {
    font-size: 20px;
}

.body3 {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 200px;
    margin: 80px 0;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
}

.quote {
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
}

.quoter {
    font-size: 25px;
    padding-top: 16px;
    padding-left: 650px;
}

.body4 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    color: #F9FAF8;
    margin: 80px 350px;
    padding: 16px;
    border-radius: 16px;
}

.button2 {
    border: 2px solid #F9FAF8;
    margin-left: 20px;
}

.bolder-text {
    font-size: 25px;
    font-weight: bold;
}

.smaller-text {
    font-size: 15px;
    padding-top: 8px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    margin-top: auto ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}